@activityBar-background: #3C1F57;
@titleBar-activeBackground: #552C7A;
@titleBar--activeForeground: #FCFBFE;
@white: #c7c7c784;

*:not(.not-format) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


.not-format {
    * {
        margin: inherit;
        padding: inherit;
        box-sizing: inherit;
        font-family: inherit;
    }
}

.container-global {
    background-color: #0f0f0f;
    min-height: 100vh;
    display: grid;
    //grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);

    * {
        color: #b7c5d3;
    }

    .header-global {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;

        * {
            color: white;
        }

        grid-column-start: 1;
        grid-column-end: 28;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: @titleBar-activeBackground;
        color: @titleBar--activeForeground;
        align-items: center;
        padding: 3px 5px;

        .options {
            margin-left: 5px;
            display: flex;
            font-size: 13px;
            grid-column-start: 2;
            grid-column-end: 4;
            width: 100%;
            gap: 5px;
            transition: 200ms;
            height: 90%;

            & span {
                padding: 4px;
                border-radius: 6px;
            }

            & span:hover {
                background-color: rgba(128, 128, 128, 0.3);
            }
        }

    }

    .arrows {
        margin: 0px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & svg {
            font-size: 20px;
            padding: 3px;
            border-radius: 6px;
        }

        & svg:hover {
            background-color: rgba(128, 128, 128, 0.3);
        }
    }

    .search-files {
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 18;

        .search-icon-with-name {
            display: flex;
            padding: 3px;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: 1px solid @white;
            border-radius: 5px;
            background-color: rgba(128, 128, 128, 0.2);

            p {
                font-size: 12px;
            }

            svg {
                font-size: 15px;
            }
        }
    }

    .options-windows {
        display: flex;
        justify-content: flex-end;
        grid-column-end: 28;
        gap: 5px;

        svg {
            font-size: 20px;
            transition: 200ms;
            cursor: pointer;

            &:hover {
                background-color: #eee;
                border-radius: 4px;
            }
        }

        .link:hover {
            fill: #1a98ff
        }

        .git:hover {
            fill: #202020
        }

        .pdf:hover {
            fill: #ff1b1b
        }
    }

    .file {
        grid-column-start: 2;
        grid-column-end: 23;
        grid-row-start: 2;
        grid-row-end: 21;
        overflow-y: scroll;
        width: 100%;
        overflow: hidden;
    }

    .counter {
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: #0a0a0a;
        grid-row-start: 2;
        grid-row-end: 21;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        p {
            font-size: 13px;
            margin: 3px;
            color: rgba(255, 255, 255, .3);
            font-family: monospace;
        }
    }
    
}

    .left-bar {
        background-color: #161616;
        grid-column-start: 23;
        grid-column-end: 28;
        grid-row-start: 2;
        grid-row-end: 21;
    }

.file {
    .br-space-hidden {
        margin-bottom: 22px;
    }

    .br-space {
        margin-bottom: 25px;
    }

    p {
        line-height: 20px;
    }

    .tag {
        font-weight: bold;
    }

    .tag-p {
        color: #6e61ff;
        margin: 0px 3px;
    }

    .tag-br {
        color: #a0ff61;
        margin: 0px 3px;
    }

    .tag-h1,
    .tag-h2,
    .tag-h3,
    .tag-h4,
    .tag-h5,
    .tag-h6 {
        color: #ff6161;
        margin: 0px 3px;
    }

    .tag-img {
        color: #61ff73;
        margin: 0px 3px;
        cursor: pointer;
    }

    .tag-div {
        color: #fb5fa5;
    }

    .tag-container {
        position: relative;
    }

    .container-stack {
        display: flex;
        flex-direction: column;

        .container-content-container-stack {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
        }
    }

    .container-stack-item {
        display: flex;
        flex-direction: column;

        .container-content-container-stack-item {
            display: flex;
            padding-left: 30px;
        }
    }

    .container-img-stack {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-img-stack {
            width: 100px;
            height: 25px;
            object-fit: contain;
        }

        .react-native-img {
            width: 120px;
        }
    }
}